


.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) right -90px no-repeat;
}
.highslide-controls li {
    float: left;
    padding: 5px 0;
}
.highslide-controls a {
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}
.highslide-controls a.disabled {
    cursor: default;
}
.highslide-controls a span {
    /* hide the text for these graphic buttons */
    display: none;
}
 
/* The CSS sprites for the controlbar */
.highslide-controls .highslide-previous a {
    background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
    background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
    background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
    background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
    background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
    background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
    background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px;
}
a ,  a:hover{
    text-decoration: none;
}

body{
        font-family: 'Montserrat', sans-serif;

}
/*Navbar styles*/
/*#headLine {
    width: 100%;
    height: 7px;
    position: absolute;
    background-color: #c1a138;
    display: block;
    z-index: 999999;
}*/
.block{
    display:block !important;
}
.navbar{
    padding: 0 !important;
}
.navbar-brand .veka{
    width: 100px;
    transition: 0.s ease-in-out;
}
.navbar-brand .euro{
    width: 80px;
    transition: 0.s ease-in-out;
}
#nav-menu {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    width: 100%;
    top: 10px;
   background: transparent;
   transition: 0.3s ease-in-out;
}

#nav-menu .nav-link{
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 100ms all ease;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 12px;
}
#nav-menu .nav-link span:after{
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-radius:50%;
    display: block;
    background-color: white;
    margin:0 auto;
    transform:translateY(5px);
    opacity: 1;
    transition: 200ms all ease;
}
#nav-menu .nav-link span:hover:after ,#nav-menu .nav-link:hover span:after{
    opacity: 0;
    transform:translateY(-5px);
    display: none;
}
.social {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #f8c92c;
    border-radius: 35px;
    display: inline-flex;
    margin-top: 8px;
}
.social a {
    font-size: 11px;
    color: #f8c92c;
    transition:0.2s ease-in-out;
    margin: 0 4px;
}
.social .active{
    color: white !important;
}
.social a:hover{
    color:white;
    text-decoration: none;
    transition:0.2s ease-in-out;
}


.call img{
    width: 35px;
}

.call p {
    color: #3361c3;
    font-size: 16px;
    margin: 0;
    margin-left: 8px;
    font-weight: bold;
    display: block;
    width: 100%;
    float: left;
    position: relative;
    top: -7px;
}
.call a{
      position: absolute;
    font-size: 9px;
    color: #808080bd;
    right: 17px;
    font-weight: 600;
    border-bottom: 1px solid #80808073;
    bottom: 10px;
}
.call {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fffffff0;
    padding: 10px 19px;
    border-radius: 4px;
}
nav .navbar-toggler .nav-duyme {
    display: block;
    height: 2px;
    background-color: white;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-radius: 1px;
}
nav .navbar-toggler {
    border: none;
    color: #fff;
    padding: 5px;
    width: 50px;
    cursor: pointer;
    position: absolute !important;
    top: 42px;
    outline: none;
    right: 15px !important;
}
nav .navbar-toggler span:nth-child(3) {
    width: 80%;
    float: right;
    margin-bottom: 0;
}
.fixednav nav .navbar-toggler .nav-duyme {
    background-color: #4b3441;
}

#nav-menu .sub-menu li:hover{
    background-color:#2b3c5b;
}
#nav-menu  .sub-menu li:hover a{
    color: white;
}
#nav-menu  .sub-menu-parent{
    position: relative;
}

#nav-menu  .sub-menu li a {
    display: block;
    padding: 10px 80px 10px 20px;
    margin-right: 0px;
    font-size:12px;
    font-weight:600;
    clear: both;
    color: #aeb9cc;
    white-space: nowrap;
    -webkit-transition: 0.1s all ease-out;
    -o-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}


  
@media (min-width: 992px){
#nav-menu .sub-menu-parent:focus .sub-menu, .sub-menu-parent:hover .sub-menu {
    opacity: 1;
    display: block !important;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

  .sub-menu {
    opacity: 1;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    padding: 10px 0px;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
    z-index: 100;
    list-style-type: none;
    position: absolute;
    top: 46px;
    left: 0px;
    margin: 0;
    background-color: #232e43;
    text-align: left;
}
    
    
}


.fixednav {
    background: white !important;
    position: fixed !important;
    transition: 0.3 ease-in-out;
    top: 0 !important;
    padding-bottom: 5px !important;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.12);
}
.fixednav#nav-menu .nav-link{
    color: #232e43;
} 
.fixednav .navbar-brand .veka{
    width: 70px;
    transition: 0.3s ease-in-out;
}
.fixednav .navbar-brand .euro{
    width: 50px;
    transition: 0.3s ease-in-out;
}
.fixednav .social {
    margin-top: 3px !important; 
}
.fixednav .social .active{
    color: black !important;
}
.fixednav .call{
    border: 1px solid #6089e4;
    box-sizing: border-box;
}
.fixednav#nav-menu .nav-link span:after{
    background: #232e43;
     height: 6px;
    width: 6px;
}
.fixednav .navbar-toggler {
    top: 28px;
}

.right-menu{
    width: 500px;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: white;
    z-index: 9999999999999;
    transition: 0.3s;
    overflow-y: overlay;
    display: none;
}
.right-menu{
    width: 500px;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: white;
    z-index: 99999;
    transition: 0.3s;
    overflow-y: overlay;
    display:none;
}
.right-menu .mobile-menu .navbar-navs .nav-item{
    font-size: 17px;
    line-height: 2.5;
  }
.right-menu .mobile-menu .navbar-navs .areas-menu{
    display:none;
    padding-left: 40px;
}

.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu{
    display:none;
    padding-left: 15px;
    list-style-type:none; 
}

.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu li{
    letter-spacing:0;
    font-size:13px;
    border-bottom: solid 1px #dddddd;
    padding: 10px 0px;
}
.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu li a{
    color: black;
}
.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu li:last-child{
    border:none;
}

.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu a i{
    margin-left: 7px;
    margin-top: 2px;
}

.right-menu .mobile-menu .navbar-navs .nav-item .sub-menu .nav-menu .menu{
    display:none;
    padding-left: 15px;
}

.right-menu .mobile-menu .navbar-navs .nav-item:first-child{
    border-top: solid 1px #dddddd;
}

.right-menu .mobile-menu .navbar-navs .nav-item{
    font-weight: bold;
    font-size: 19px;
    padding-left: 0;
    padding-right: 0;
    text-align:left;
    line-height: 3;
    border-bottom: solid 1px #dddddd;
}

.right-menu .mobile-menu .navbar-navs .nav-item .nav-link {
    padding:0;
    color: black;
}

.right-menu .mobile-menu .navbar-navs{
    width:100%;
        list-style-type: none;
    padding: 20px 20px 40px 20px;
}


.right-menu .mobile-menu .close-icon i{
    font-size: 32px;
    cursor: pointer;
    font-weight: 600;
}

.right-menu .mobile-menu .close-icon{
    margin: 25px;
    text-align: end;
}

.right-menu::-webkit-scrollbar-thumb {
    background: #d5b268;
}

.right-menu::-webkit-scrollbar{
    width:6px;
}

.popup-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.8;
    z-index: 999;
    cursor: pointer;
    transition: 0.5s;
    top: 0;
    left: 0;
    display: none;
}
/*carusel*/
.carousel-caption {
    z-index: 10;
    color: #fff;
    height: auto;
    bottom: 50px;
    text-align: left;
    left: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    border-radius: 10px;
}
.carousel-caption  .blue{
 background: linear-gradient(45deg, #0b2f7ea8, #5f89e4);
    padding: 20px 56px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.carousel-caption  .white{
    padding: 40px 40px;
    line-height: 9px;
    color: #577ed5;
    background: #ffffffe0;
    border-radius: 4px;
    font-size: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.carousel-caption h5{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
}
.carousel-caption p{
font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
}
 

.carousel-item img{
    height: 700px;
    object-fit: cover;
}
.overlay {
    background: linear-gradient(#2869e1, transparent);
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    margin: auto;
    right: 0;
    height: calc(100%/2);
}

/*why*/
#why {
    background-color: #fbfbfb;
    padding: 35px;
}
#why i{
    color: #cfaf73;
    font-size: 40px;
    margin-right: 20px;
}
#why .col-md-3{
    align-items: center;
    display: flex;
}
#why .container-fluid{
    padding: 0 38px;
}
#why .col-md-3:nth-child(2) , #why .col-md-3:nth-child(3) {
    justify-content: center;
}

#why .col-md-3:last-child {
    justify-content: flex-end;
}
#why .icon {
    border: 4px solid #fff;
    background: none;
    font-weight: 400;
    width: 16px;
    height: 16px;
    box-shadow: 0 4px 16px 0 rgba(109, 98, 248, 0.3);
    background-color: #5f89e4;
    border-radius: 100%;
    margin-right: 10px; 
}





/*//////////*/



 /*about section*/
.about{
    padding:15px 0;
    /*background: #f4f4f4;*/
}
.aboutimg{
    padding: 15px;
    display: flex;
    justify-content: center;
}
 .aboutimg img{
    width: 70%;
 }
/*//////////////////*/
.aboutus{
    display: flex;
    flex-wrap: wrap;
}
/*///////////////////*/ 
.aboutus h3{
    font-size: 34px;
}
.aboutus h5{
    font-size: 19px;

}
.aboutus p {
    color: #292f37;
    text-align: justify;
    font-size: 14px;
      line-height: 34px;
}
.aboutus i{
    color: #5f89e4;
    font-size: 28px;
} 
.aboutus img{
    width: 50px;
    transform: translateX(-25px);
}
.aboutspan{
    display: inline-block;
    margin-left: 4px;
}
.aboutspan a{
    font-size: 14px;
    color: black;
    position: relative;
}

.aboutspan  a:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: black;
    display: block;
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    bottom: 0;}


.aboutspan  a:hover:after {
    width: 0;
}
/*.aboutus .col-11{
    padding-right: 0!important;
}*/
/*//////////////////*/

/*gallery section*/
.gallery{
    background: #f5f5f5;
    padding: 60px 0;
}
.gallery .card{
    position: relative;
    height: 340px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.gallery .card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index:;
}

.gallery .card .text{
    position: absolute;
    bottom: -20px;
    z-index: 2;
    color: white;
    word-wrap: break-word;
    width: 100%;
    padding: 0px 30px;
    transition: 0.3s ease-in-out;
}
.gallery .card .text h5 {
    font-size: 17px;
    text-transform: uppercase;
}   
.gallery .card .text p {
    font-size: 13px;
    color: #a99f94;
}
.gallery .card:after , .gallery .card:before{
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    transition: 0.3s ease-in-out;
    opacity: 0.99;
    z-index: 1;
}
.gallery .card:after{
    background: linear-gradient(to top, #2b1919, rgba(43, 25, 25, 0));
    opacity: 1;
}
.gallery .card:before{
    background: linear-gradient(to top, #2b1919, rgba(43, 25, 25, 0.5));
    opacity: 0;
}
.gallery .card .text a{
    text-decoration: none;
    color: white;
    font-size: 12px
}

.gallery .card:hover .text{
    bottom: 15px;
    transition: 0.3s ease-in-out;
}
.gallery .card:hover:after{
    opacity: 0;
    transition: opacity 0.3s
}
.gallery .card:hover:before{
    opacity: 1;
    transition: opacity 0.3s
}
 /*///////////////*/



 /*news*/
 .news{
    padding: 40px 0; 
 }
.news .card .image{
    width: 100%;
}

.news .card  img{
    width: 100%;
    object-fit: cover;
    max-height: 140px;
    height: auto;
}
.news .card-body{
        padding: 11px 14px !important;
}
.news .card .card-body .card-title {
    color: #4b4f52 !important;
    font-weight: 600;
    font-size: 13px;
}
    
.like{
    float: left;
}
.like img{
        height: 23px !important;
    width: auto !important;
}

.card-content {
    border-top: 1px solid #00000020;
    padding-top: 10px;
    font-size: 16px;
}


.card-content .like i {
    color: #8b95a1;
}


.card-content .tl {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: rgb(45, 54, 64);
}


.details{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}
.details .btn {
    border-radius: 2px;
    border: 1px solid rgba(75,79,82,.2);
    font-size: 14px;
    font-weight: 600;
    color: #2d3640;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

 /*/////////////////*/


 /*onfooter*/

.onfooter {
    background: linear-gradient(45deg, #68a0f3, #527edf);
    padding: 38px 0;
}

.onfooter h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 22px;
    margin: auto;
    text-align: center;
}


.onfooter .btn {
    width: 270px;
    padding: 15px 20px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    color: #2d3640 !important;
    border: none;
    transition: 0.3 ease-in-out;
}



  .onfooter .btn:hover{
    background-color: #f6f6f6 !important;
    transition: 0.3 ease-in-out;
  }
  .onfooter  .start{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*///////////*/


  /*footer*/
  .oklogo{
    width: 100px;
  }
  .footer{
    background: #2d3640;
    padding-top: 40px;
  }
  .footer .footerlogos img{
    width: 100px;
    display: block;
    margin-bottom: 20px;
  }
    footer .contact .num {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: end;
    margin-bottom: 10px;
}
   footer .contact .mail {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: end;
    margin-left: 4px;
    margin-bottom: 10px;
    }
footer .contact i {
    color: #fff;
    font-size: 12px;
    color: #5989ec;
}
  .footersocial{
    display: flex;
    justify-content: flex-end;
  }
  .socialnew{
    height: 29px;
    width: 29px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    /*margin-top: 20px;*/
    margin-bottom: 29px; 
  }
  

   .socialnew i {
    color: #2d3640;
    font-size: 14px;
   }
   .headtxt p{
        font-size: 18px;
    font-weight: 600;
    color: #bfc8d2;
    margin-bottom: 29px;
   }
  .links ul li a {
      font-size: 13px;
      text-align: left;
      color: #d2dbe4;
      padding: 0;
      margin-bottom: 15px;
      font-weight: 200;
  }
    .bottomlinks .nav-link:hover , .links ul li a:hover{
    color: white;
    transition: 0.3s ease-in-out;
   }
   .bottomlinks{
    display: flex;
    margin-top: 15px;
   }
    .bottomlinks .nav-link{
        padding: 0;
        font-size: 12px;
    text-align: left;
    color: #8b95a1;
    margin-bottom: 30px;
    margin-right: 29px;
    transition: 0.3s ease-in-out;
    }

    .copyright{
           padding: 0;
        font-size: 12px;
    text-align: right;
    color: #8b95a1;
        margin-top: 15px;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
    }



      .text-trs{
    color: #2d3640 !important;
  }

  .contact .nav-link{
    text-align: right;
  }

/*/*medialar*/


@media (max-width: 1200px) {
    .call p ,.call a {
        display: none;
    }
    .bottomlinks .nav-link {
        margin-right: 16px;
    }
}

@media (max-width: 992px) {

    .logoimage{
        margin-left: 20px;
    }
    .call{
        position: absolute;
        top: 30px;
         right: 100px;
    }
    .fixednav .call{
        top: 14px;
    }
    .social{
        position: absolute;
        top: 35px;
        left: 250px;
    }
    .fixednav .social{
        top: 23px;
        left:170px;
    }
    .mynav{
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }
    .fixednav{
        box-shadow: none;
        background: transparent;
    }
   .fixednav .mynav {
    background: white;
    transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 30px 0px;
        }
    .navbar-collapse{
        background: white;
        color: black !important;
    }

    .carousel-item img {
    height: 500px;
    object-fit: cover;
    }
    #why .col-md-3{
        text-align: center;
        font-size: 14px;
        justify-content: unset !important;
        margin-bottom: 10px;
    }
    .aboutimg img {
    transform: translateX(10px);
    }
    .gallery .card {
    height: 250px;
    }
    .news .card{
        margin-bottom: 30px;
    }
    #nav-menu {
        top: 0;
    }
    
    /*sociallari saga cekmek/*/
    .mobilefooter .footersocial{
        justify-content: flex-end;
    }
    .socialnew{
        margin-right: 0;
        margin-left: 15px;
    }
    .divs{
        float: right;
    }
    /*destek saga cekmek*/

    .help .headtxt,
    .help .links a{
        text-align: right;
    }
    .Kategoriler .headtxt ,
    .Kategoriler .links a{
        text-align: center;
    }
    .bottomlinks {
        justify-content: space-between;
    }
       .bottomlinks .nav-link {
        margin-right: 0px;
    }
    .copyright{
        text-align: center;
    }
    #nav-menu .nav-link {
    text-align: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    }
    #nav-menu .nav-link span:after {
        display: none;
    }

   
       .right-menu{
        display: block;
       }

       .sub-menu{
        display: none;
       }
        
}

@media (max-width: 768px) {
      .carousel-item img {
    height: 400px;
    object-fit: cover;
    }
   
    .onfooter h1 {
    font-size: 23px;}

    .onfooter .btn {
    width: 214px;
    padding: 10px 17px;}
    
    .footerlogos{
         display: flex;
         justify-content: space-between;
    }
    .footerlogos img{
        object-fit: contain;
    }

    .mobilefooter .headtxt{
        text-align: right;
    }
    .mobilefooter .links a{
        text-align: right;
    }
    .Kategoriler .headtxt,
    .help .links a ,
    .Kategoriler .links a{
        text-align: left;
    }
  
    .help .headtxt {
        margin-top: 10px;
        text-align: left;
     }
     .right-menu{
        width: 80%;
       }
}

@media (max-width: 576px) {
    .social{
        left: 230px;
    }
    .fixednav .social{
        left:160px;
    }
      .call{
        right: 80px;
      }
   #why .col-md-3{
    justify-content: center !important;

   }
   .aboutus h3 , .aboutus h5 ,  .aboutus p {
    text-align: center;
    }
    .aboutus .col-sm-1{
        display: flex;
        justify-content: center;
    }
 
    .aboutus i {
    font-size: 37px;}

    footer .headtxt , footer .links a {
        text-align: center !important;
    }
    .mobilefooter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .bottomlinks {
        flex-direction: column;
    }
    .bottomlinks  .nav-link{
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
       .call{
        display: none;
       }
}
@media (max-width: 440px) {
      .carousel-item img {
    height: 300px;
    object-fit: cover;
    }
}
@media (max-width: 392px) {
     .navbar-brand .veka {
    width: 70px;
    }
    .navbar-brand .euro {
    width: 50px;
    }
    .social{
        top: 21px;
        left: 160px;
    }
    .navbar-toggler {
    top: 28px !important;
    }
}



/*////////////////*/

/*

    section , footer{
        display: none;
    }
    #slider{
        display: block;
    }*/