


.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) right -90px no-repeat;
}
.highslide-controls li {
    float: left;
    padding: 5px 0;
}
.highslide-controls a {
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}
.highslide-controls a.disabled {
    cursor: default;
}
.highslide-controls a span {
    /* hide the text for these graphic buttons */
    display: none;
}
 
/* The CSS sprites for the controlbar */
.highslide-controls .highslide-previous a {
    background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
    background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
    background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
    background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
    background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
    background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
    background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px;
}
a ,  a:hover{
    text-decoration: none;
}

body{
        font-family: 'Montserrat', sans-serif;

}
/*Navbar styles*/
#headLine {
    width: 100%;
    height: 7px;
    position: absolute;
    background-color: #c1a138;
    display: block;
    z-index: 999999;
}
.block{
    display:block !important;
}
.navbar-brand .veka{
    width: 100px;
}
.navbar-brand .euro{
    width: 80px;
}
#nav-menu{
    position: absolute;
    z-index: 99999999;
    margin: 0 auto;
    width: 100%;
}
#nav-menu .nav-link{
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 100ms all ease;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 12px;
}
#nav-menu .nav-link span:after{
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border-radius:100%;
    display: block;
    background-color: white;
    margin:0 auto;
    transform:translateY(5px);
    opacity: 1;
    transition: 200ms all ease;
}
#nav-menu .nav-link span:hover:after ,#nav-menu .nav-link:hover span:after{
    opacity: 0;
    transform:translateY(-5px);
    display: none;
}
.social {
       padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #f8c92c;
    border-radius: 18px;
    display: inline-flex;
    margin-top: 8px;
    /*margin-left:5px;*/
}
.social a {
    font-size: 11px;
    color: #f8c92c;
    transition:0.2s ease-in-out;
    margin: 0 4px;
}
.social a:hover{
    color:white;
    text-decoration: none;
    transition:0.2s ease-in-out;
}
.call img{
    width: 35px;
}

.call p {
    color: #3361c3;
    font-size: 16px;
    margin: 0;
    margin-left: 8px;
    font-weight: bold;
    display: block;
    width: 100%;
    float: left;
    position: relative;
    top: -7px;
}
.call a{
      position: absolute;
    font-size: 9px;
    color: #808080bd;
    right: 17px;
    font-weight: 600;
    border-bottom: 1px solid #80808073;
    bottom: 10px;
}
.call {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fffffff0;
    padding: 10px 19px;
    border-radius: 4px;
}
.carousel-caption {
    z-index: 10;
    color: #fff;
    height: auto;
    bottom: 50px;
    text-align: left;
    left: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    border-radius: 10px;
}
.carousel-caption  .blue{
 background: linear-gradient(45deg, #0b2f7ea8, #5f89e4);
    padding: 20px 56px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.carousel-caption  .white{
    padding: 40px 40px;
    line-height: 9px;
    color: #577ed5;
    background: #ffffffe0;
    border-radius: 4px;
    font-size: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.carousel-caption h5{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 16px;
}
.carousel-caption p{
font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
}
 

.carousel-item img{
    height: 700px;
    object-fit: cover;
}
.overlay {
    background: linear-gradient(#2869e1, transparent);
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    margin: auto;
    right: 0;
    height: calc(100%/3);
}


.sub-menu li:hover{
    background-color:#2b3c5b;
}
.sub-menu li:hover a{
    color: white;
}
.sub-menu-parent{
    position: relative;
}

.sub-menu li a {
    display: block;
    padding: 10px 80px 10px 20px;
    margin-right: 0px;
    font-size:12px;
    font-weight:600;
    clear: both;
    color: #aeb9cc;
    white-space: nowrap;
    -webkit-transition: 0.1s all ease-out;
    -o-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}

@media (min-width: 992px) {
    .sub-menu {
    opacity: 1;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    padding: 10px 0px;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
    z-index: 100;
    list-style-type: none;
    position: absolute;
    top: 46px;
    left: 0px;
    margin: 0;
    background-color: #232e43;
    text-align: left;
}
.sub-menu-parent:focus .sub-menu, .sub-menu-parent:hover .sub-menu {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
 }